body {
	background-color: #2b2f38;
	height: 100%;
	font-family: 'Hind' sans-serif;
}

.chart {
	width: 500px;
	height: 300px;
	text-align: center;
	margin: auto;
}

.row {
	margin-bottom: 150px;
}

h1 {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

#myChart1 {
	margin-top: 5%;
}

#myChart2 {
	margin-top: 55%;
}

#myChart3 {
	margin-top: 100%;
}

#myChart4 {
	margin-top: 150%;
}


@media screen and (max-width: 768px) {
	#myChart1 {
	margin-top: 5%;
	}
	#myChart2 {
	margin-top: 22%;
	}
	#myChart3 {
	margin-top: 32%;
	}
	#myChart4 {
	margin-top: 51%;
	}
}

@media screen and (max-width: 425px) {
	#myChart1 {
	margin-top: 11%;
	}
	#myChart2 {
	margin-top: 1%;
	}
	#myChart3 {
	margin-top: 1%;
	}
	#myChart4 {
	margin-top: 1%;
	}
}